div.round{
    -webkit-border-radius: 24px;
    border-radius: 24px;
    border-width: 1px;
    border-color: cornflowerblue;
    border-style: solid;
    width: fit-content;
    padding: 10px;
}
div.bot_rounded{
    border-radius:0px 0px 50px 0px;
    border-style: solid;
    width: fit-content;
    padding: 10px;
    border-width: 2px;
}
div.shad{
    width: 300px;
    height: 100px;
    border-radius: 200px;
    background-color: darkkhaki;
    box-shadow: 10px 10px 5px 1px blue;
}
div.multi{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: 0 0 10px 4px #FF6347, 0 0 10px 30px #FFDAB9, 30px 0 20px 30px #B0E0E6;

    margin-left:30px;
    margin-top:30px;
}
ul.inline_ul li.inline_li{
    display: inline-block;
    padding: 10px; 
    color: #FFFFFF;
    font-size: 18px;
    font-family: Arial;
    text-decoration: none;
}   
nav.inline_nav{
display: inline-block;
box-shadow:0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
padding: 20px 0;
min-width: 100px; 
}

p.text_shadow{
    text-shadow: 2px 4px 3px #FF6347,-2px -4px 3px green;
    font-size: large;
}

#parent p:first-child{
    color: greenyellow;
}
#parent p:last-child{
    color:indianred;
}

p.pseudo::first-line{
    color: blue;
}
p.pseudo::first-letter{
    color: rgb(128, 0, 79);
}

p.pseudo::selection{
    background-color: limegreen;
    color: peru;
}
p.wrap{
    width: 200px;
    height:fit-content;
    border: 1px solid #000000;
    word-wrap: break-word;
}

@font-face {
    font-family: lesthary;
    src: url('fonts/lesthary.ttf');
}

p.font_face{
    font-family: lesthary;
}

div.lin_grad{
    width: 400px;
    height: 100px;
    float: right;
    margin: 1cm;
    color: #FFFFFF;
    background: -webkit-linear-gradient(right , blue, skyblue);
}
div.rainbow{
    width: 400px;
    height: 200px;
    float: left;
    margin: 1cm;
    color: #FFFFFF;
    background: -webkit-linear-gradient(top left, red,orange,yellow,green,blue,indigo,violet);
}
div.germany{
    width: 250px;
    height: 150px;
    float: right;
    margin: 1cm;
    color: #FFFFFF;
    background: -webkit-linear-gradient(-89deg, black 35%, red 35%, yellow 75%);
}
div.rgb{
    width: 500px;
    height: 200px;
    float: left;
    margin: 1cm;
    color: white;
    background: -webkit-repeating-linear-gradient(left,red,green, blue 50px);

}
div.sun{
    width: 500px;
    height: 200px;
    float: left;
    background: -webkit-radial-gradient(top left, circle, yellow,orange, red, black 50%);
}
div.bg_size{
    height: 200px;
    width: 200px;
    float: left;
    border: 1px solid #000000;
    background: url(Pictures/earth.png) no-repeat;
    background-size: 100px 100px;
}
div.cover{
    height: 200px;
    width: 200px;
    float: left;
    border: 1px solid #000000;
    background: url(Pictures/earth.png);
    background-size: cover;
}
div.contained{
    height: 200px;
    width: 200px;
    float: left;
    border: 1px solid #000000;
    background: url(Pictures/earth.png);
    background-size: contain;
    position: absolute;
}
#pad_box{
    
 border:  2px dotted black;
 padding: 20px;
 padding-left: 20px;
 background: peru;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;

}
#content_box{
    border:  2px dotted black;
    padding: 20px;
    padding-left: 20px;
    
    background: peru;
    -webkit-background-clip: border-box;
    background-clip: content-box;

}

div.transparent_border{
    border: 20px solid rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 200px;
    position:absolute;
    top: 80%;
    left:50px;
    background-color: seashell;
}
div.double_background{
    width: 500px;
    height: 600px;
    position: absolute;
    background-image: url(Pictures/lion.jpg), url(Pictures/forest.jpg);
    background-position: bottom right, 0px 0px;
    background-repeat: no-repeat;
    background-size: 40% 40%, 100% 100%;
}
#img1 {
    opacity: 1;
    filter: alpha(opacity=100);
    idth: 200px;
    height: 200px;
    position: absolute;
}
#img2 {
    pacity: 0.5;
    filter: alpha(opacity=50);
    idth: 200px;
    height: 200px;
    position: absolute;
}
#img3 {
    opacity: 0.25;
    filter: alpha(opacity=25);
    width: 200px;
    height: 200px;
    position: absolute;
}
div.wide{
    width: 50px;
    height: 50px;
    background: purple;
    transition: width 3s;
    position: absolute;
}
div.wide:hover{
    width: 300px;
}